[submodule "local/adminer"]
	path = local/adminer
	url = https://github.com/grabs/moodle-local_adminer.git
[submodule "local/dunjarama_host"]
	path = local/dunjarama_host
	url = https://github.com/PM84/moodle-local_dunjarama_host.git
[submodule "customfield/field/file"]
	path = customfield/field/file
	url = https://github.com/andrewhancox/moodle-customfield_file.git
[submodule "lib/editor/tiny/plugins/elements"]
	path = lib/editor/tiny/plugins/elements
	url = https://github.com/mebis-lp/moodle-tiny_elements.git
[submodule "theme/degrade"]
	path = theme/degrade
	url = https://github.com/EduardoKrausME/moodle-theme_degrade.git
[submodule "theme/boost_magnific"]
	path = theme/boost_magnific
	url = https://github.com/EduardoKrausME/moodle-theme_boost_magnific.git
