[submodule "local/adminer"]
	path = local/adminer
	url = https://github.com/grabs/moodle-local_adminer.git
[submodule "local/dunjarama_host"]
	path = local/dunjarama_host
	url = https://github.com/PM84/moodle-local_dunjarama_host.git
[submodule "customfield/field/file"]
	path = customfield/field/file
	url = https://github.com/andrewhancox/moodle-customfield_file.git
[submodule "lib/editor/tiny/plugins/elements"]
	path = lib/editor/tiny/plugins/elements
	url = https://github.com/mebis-lp/moodle-tiny_elements.git
[submodule "theme/degrade"]
	path = theme/degrade
	url = https://github.com/EduardoKrausME/moodle-theme_degrade.git
[submodule "theme/boost_magnific"]
	path = theme/boost_magnific
	url = https://github.com/EduardoKrausME/moodle-theme_boost_magnific.git
[submodule "repository/imagehub"]
	path = repository/imagehub
	url = https://github.com/mebis-lp/moodle-repository_imagehub.git
[submodule "mod/learningmap"]
	path = mod/learningmap
	url = https://github.com/mebis-lp/mod_learningmap.git
[submodule "mod/kanban"]
	path = mod/kanban
	url = https://github.com/mebis-lp/moodle-mod_kanban.git
[submodule "mod/unilabel"]
	path = mod/unilabel
	url = https://github.com/grabs/moodle-mod_unilabel.git
[submodule "mod/board"]
	path = mod/board
	url = https://github.com/brickfield/moodle-mod_board.git
[submodule "blocks/massaction"]
	path = blocks/massaction
	url = https://github.com/Syxton/moodle-block_massaction.git
[submodule "blocks/floatingbutton"]
	path = blocks/floatingbutton
	url = https://github.com/mebis-lp/moodle-block_floatingbutton.git
[submodule "blocks/vitrina"]
	path = blocks/vitrina
	url = https://github.com/bambuco/moodle-block_vitrina.git
[submodule "availability/condition/language"]
	path = availability/condition/language
	url = https://github.com/ewallah/moodle-availability_language.git
[submodule "course/format/menutopic"]
	path = course/format/menutopic
	url = https://github.com/davidherney/moodle-format_menutopic.git
